@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-5">Azure Table Storage MVC Demo</h1>
    <p class="lead">Create and list entries in Azure Table Storage</p>
    <p><a class="btn btn-primary" href="@Url.Action("Index","Customers")">Go to Customers</a></p>
</div>
