@model AzureTableMvcDemo.Models.CustomerCreateViewModel
@{
    ViewData["Title"] = "Add Customer";
}
<h1>Add Customer</h1>

<form asp-action="Create" method="post" class="col-md-6">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-secondary" href="@Url.Action("Index","Customers")">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
